.errorBoundary{
    width: 100vw;
    height: 100vh;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
}
.errorBoundary div{
    width: 300px;
    height: 100px;
    background-color: #8a1d1d;
    color: #ffdce2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #8a1d1d, -2px -2px 10px #8a1d1d;
}