.search {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input {
  font-size: 18px;
  padding: 5px 10px;
  width: 80%;
  height: 40px;
  border-radius: 30px;
  transition: all 0.2s ease;
}

.input:focus {
  border: black;
  background-color: #ffdce2;
}
