.app {
  width: 100vw;

  background-color: #414141;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 5px;
  font-size: 18px;
  border-radius: 30px;
  height: 40px;
  color: #414141;
  background-color: #ffdce2;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #b2b2b2;
  color: #252525;
}
.loading{
  width: 200px;
  height: 100px;
}
.pagination{
  display: flex;
  align-items: center;
  gap: 10px;
}
.pagination button{
  color: #ffdce2;
  background-color: #252525;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.2s ease;

}
.pagination button:hover{
  background-color: #653c3c;

}
